<p>todo works!</p>

<!-- input -->
<section class="todo">
    <input type="text" [(ngModel)]="todoName" />

    <button (click)="onBtnClick(todoName)">Add new Todo</button>
    <!-- pętla dla pierwszej tabeli -->
    <!-- <ul>
    <li *ngFor="let todo of todoListData, let i=index;">
        <app-todo-item [todoData]="todo" [indexData]="i"></app-todo-item>
    </li>
</ul> -->


    <!-- pętla dla drugiej tabeli -->
    <ul>
        <li *ngFor="let todo of todoDB, let i=index;">
            <app-todo-item [todoItemData]="todo" [indexData]="i"></app-todo-item>
        </li>
    </ul>
</section>