<h1>This is my best app</h1>
<!-- przeniesienie do innego miejsca = routing -->
<!-- href zastąpiony routerLink -->
<!-- <a href="">Home</a> -->
<!-- / = przeniesie nas na Home,inaczej localhost:4200 -->
<!-- np. /app to rozszerzenie adresu w pasku-->
<!-- nav = poprawia dostępność -->


<nav class="nav">
    <!-- za ust.elem listy za pomocą flexboxa odpowiada rodzic -->
    <ul class="nav__list">
        <li class="nav__item">
            <a class="nav__link" routerLink="/">Home</a>
        </li>
        <li class="nav__item">
            <a class="nav__link" routerLink="/dashboard">Dashboard</a>
        </li>
        <li class="nav__item">
            <a class="nav__link" routerLink="/app">My App</a>
        </li>
        <li class="nav__item">
            <a class="nav__link" routerLink="/todo">To Do</a>
        </li>
    </ul>
</nav>

<!-- ostatnie = podanie miejsca gdzie wyrenderować komponent -->
<router-outlet></router-outlet>


<!-- <app-first> </app-first>
<app-second></app-second>
<app-third></app-third> -->